.input {
  padding: 12px;
  width: 50%;
  background: none;
  border: 2px solid #fcd500;
  font-size: 14px;
}

.searchBox {
  display: flex;
}

.button {
  background: none;
  border: 2px solid #fcd500;
  border-left: none;
}